name: Python Code Quality
on:
      workflow_dispatch:
jobs:
    uv_lock:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: ./.github/actions/setup
            - run: uv lock --locked
    ruff_lint:
        runs-on: ubuntu-latest
        needs: [uv_lock]
        steps:
            - uses: actions/checkout@v5
            - uses: ./.github/actions/setup
            - run: uvx ruff check .
    fruff_format:
        runs-on: ubuntu-latest
        needs: [uv_lock]
        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/actions/setup
            - run: uvx ruff format --check .
    pyright_check:
        runs-on: ubuntu-latest
        needs: [uv_lock]
        steps:
        - uses: actions/checkout@v4
        - uses: ./.github/actions/setup
        - run: uv run pyright .
