name: Publish to PyPI

# trigger on workflow_dispatch (manual) OR Github publish release
on:
  workflow_dispatch:
  release:
    types: [published]

jobs:

  build:
    name: Build distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.10"

      - run: uv build

      - name: Upload dists
        uses: actions/upload-artifact@v5
        with:
          name: python-package-distributions
          path: dist/*

  publish-to-pypi:
    name: Publish Python distribution to PyPI
    needs: [build]
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
    - name: Download all the dists
      uses: actions/download-artifact@v6
      with:
        name: python-package-distributions
        path: dist/

    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
